{# templates/admin/edit_figurine.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Modifier une Figurine{% endblock %}

{% block body %}
<h1>Modifier la Figurine</h1>
<form method="post">
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-success">Enregistrer</button>
</form>
{% endblock %}