
{# templates/admin/edit_book.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Modifier {{ productType == 'book' ? 'Manga' : 'Figurine' }}{% endblock %}

{% block body %}
<h1>Modifier {{ productType == 'book' ? 'le Manga' : 'la Figurine' }}</h1>
<form method="post">
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-success">Enregistrer</button>
</form>
{% endblock %}