{% extends 'base.html.twig' %}

{% block title %}Accès interdit - 403{% endblock %}

{% block body %}
<main class="bg">
    <section class="error-page">
        <h1>403</h1>
        <p>Vous n'avez pas les droits pour accéder à cette page.</p>
        <a href="{{ path('app_home') }}" class="btn">Retour à l'accueil</a>
    </section>
<main class="bg">
{% endblock %}
